<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/statics/dist/css/style.css" />

    <title>Keystroke Logger</title>
  </head>

  <body>
    <header>
      <h1><a href="{{ url_for("main.index") }}">Keystroke Logger</a></h1>
    </header>

    {% if current_user.is_authenticated -%}
    <!-- <div class="drawer-btn">
      <div class="drawer-icon"></div>
    </div> -->
    <nav>
      {% if current_user.lname_r == None -%}
      <span class="username">{{ current_user.lname_k}} {{ current_user.fname_k }}</span>
      {%- else -%}
      <span class="username">{{ current_user.lname_r}} {{ current_user.fname_r }}</span>
      {%- endif %}
      <div class="btn">
        <a href="{{ url_for("login.logout") }}">Logout</a>
      </div>
    </nav>
    {%- endif %}

    <main>
        {% block main %}{% endblock %}
    </main>

    {% block script %}{% endblock %}
  </body>
</html>
